.Header {
  background-color: grey;
  width: 100%;
  height: 50px;
  position: absolute;
  left: -1px;
  top: -1px;
}

.B{
  background-color: lightblue;
  width: 100px;
  height: 20px;
  border-radius: 100px;
  margin: 100px;
}
.B:hover {
  opacity: 0.7;
  cursor: pointer;
}
.B:active {
  opacity: 0.4;
  margin: 101px;
}